body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}
nav {
    margin-bottom: 20px;
}

button {
    margin-right: 10px;
}

.section {
    display: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

h1, h2 {
    text-align: center;
}

#product-form, #inventory {
    margin: 20px auto;
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    background-color: #0095eb;
    color: #fff;
    border: none;
    cursor: pointer;
    width: auto;
}

button:hover {
    background-color: #276f98;
}

#inventory-list {
    list-style-type: none;
    padding: 0;
}

#inventory-list li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
#video {
    width: 300px; /* Adjust width as needed */
    height: 150px; /* Adjust height to match the aspect ratio */
    border: 1px solid #ccc;
    margin-top: 10px;
    object-fit: cover; /* Ensure the video covers the area */
}
